*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:#070707;
height:100vh;
color:white;
overflow:hidden;
}

canvas{
position:fixed;
inset:0;
z-index:0;
}

.container{

position:relative;
z-index:1;

max-width:340px;
margin:auto;

top:50%;
transform:translateY(-50%);

padding:30px;

border-radius:25px;

/* branco transparente */
background:rgba(190, 50, 50, 0.308);

backdrop-filter:blur(12px);

border:1px solid rgba(53, 51, 51, 0.158);

text-align:center;

}

.logo{
width:260px;
max-width:100%;
margin-bottom:15px;
}

p{
color:#cfcfcf;
margin-bottom:25px;
font-size:15px;
}

.btn{

display:flex;
align-items:center;
justify-content:center;

gap:10px;

padding:15px;

margin:12px 0;

border-radius:14px;

text-decoration:none;

color:white;

font-weight:bold;

transition:0.25s;

}

.btn:hover{
transform:scale(1.04);
}

.btn img{
width:20px;
filter:invert(1);
}

/* cores */

.whatsapp{
background:#25D366;
}

.instagram{
background:linear-gradient(45deg,#f58529,#dd2a7b,#8134af,#515bd4);
}

.tiktok{
background:#0b0b0b;
border:1px solid rgba(255,255,255,0.2);
}

.facebook{
background:#1877F2;
}
